// Content
.theme-container .page .theme-default-content
    padding-top "calc(%s - 1.375rem)" % $headerHeight

    a span > svg
        margin-left 0.25rem

    code
        word-break break-word

// Footer links
.page-edit .edit-link a,
.page-nav .inner a
    &:hover
        text-decoration underline

// Page edit links
.page-edit .edit-link a
    color $accentColor
    margin-right 0

// Copy-to-clipboard position
div[class*="language-"] pre[class*="codecopy-enabled"]
  position: static