// Color configuration
$accentColor = #007bff
$textColor = #1a1d23
$borderColor = #ddddde
$codeBgColor = #282c34

// Layout configuration
$navbarHeight = 4rem
$sidebarWidth = 20rem
$contentWidth = 1000px


// Custom variables
$sidebarBgColor = #f5f8fc
$shadowBgColor = #396ba1

$headerHeight = 5rem

// Responsiveness breakpoints
$size-sm = 719px
$size-md = 959px


// Customization
@import './header.styl'
@import './sidebar.styl'
@import './content.styl'
