// Color configuration
$accentColor = #007bff
$textColor = #1a1d23
$borderColor = #eaecef
$codeBgColor = #282c34

// Layout configuration
$navbarHeight = 4rem
$sidebarWidth = 20rem
$contentWidth = 1000px

.sidebar-group.is-sub-group > .sidebar-heading:not(.clickable)
    opacity .9

.sidebar-group.is-sub-group > .sidebar-heading
    color: #060100
    font-weight bold