// Color configuration
$accentColor = #007bff
$textColor = #1a1d23
$borderColor = #ddddde
$codeBgColor = #282c34

// Layout configuration
$headerHeight = 5.625rem
$navbarHeight = 4rem
$sidebarWidth = 20rem
$contentWidth = 1000px


@import './header.styl'
@import './sidebar.styl'
@import './content.styl'
