// Side bar
.theme-container .sidebar
    top 5.625rem
    padding-top 0.5rem

.sidebar-group.is-sub-group > .sidebar-heading
    color $textColor
    font-weight bold

    &:not(.clickable)
        opacity 0.9
